
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../../public/public/css/main-styles.css">
</head>

<body>
    <h1>Insert User Navigation Toolbar Here</h1>
    {{{body}}}
</body>

</html>