    <div id="login-form">
      <h1>Sales Employee Login</h1>
      <form method="post" action="/employee/sales/login">
        <label for="email">Email address:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
      </form>
    </div>